# make sure to create your own config.yaml file
# and make sure to use your own credentials

# key information for the bot
token:
prefix: "!"

# database credentials
database:
  host: ""
  user: ""
  passwd: ""
  database: ""

# all the cogs the bot needs to load
load_extensions:
  - cogs.char